<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div>
        <img src="assets/logo/Screenshot from 2024-02-02 17-07-10.png" class="navbar-brand-logo" alt="">
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/admin/dashboard">HOME</a>
            </li>

           
         
            
            <li class="nav-item" *ngFor="let category of   typeResultUnique">
                <a class="nav-link" (click)="navigateToCategory(category)">{{ category}}</a>
              </li>
        </ul>

    </div>
</nav>



<!-- Product details -->
<div class="container product-container mt-5">
    <div *ngFor="let singleProduct of TypeAndCategory" class="card product-card mt-3">
        <img [src]="singleProduct.image" alt="{{ singleProduct.productName }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ singleProduct.productName }}</h5>
            <p class="card-text">{{ singleProduct.productDetails }}</p>
            <p class="card-price">{{ singleProduct.price | currency:'INR':'symbol':'1.2-2' }}</p>
            <div class="product-buttons">
                <button class="btn " (click)="UpdateProduct(singleProduct.id)"><i class="fa-regular fa-pen-to-square" style="color: #0ba908;font-size: 30px;"></i></button>
                <button class="btn " style="margin-left: 10px;" (click)="DeleteProduct(singleProduct.id)"><i class="fa-solid fa-trash" style="color:rgb(197, 6, 6);font-size: 30px;"></i></button>
            </div>
        </div>
    </div>
</div>